<ion-header>
  <ion-toolbar>
    <ion-title>
      Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Afficher la photo prise à partir de data dans la fonction getPicture()-->
  <!-- <div *ngIf="image">
    <img width="300" [src]="image">
  </div> -->
  <div *ngFor="let image of images">
  <img width="300" [src]="image">
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
  </ion-fab>
</ion-content>
